@tailwind base;
@tailwind components;
@tailwind utilities;

.mainProfile{
    background-color: #E7EEEE;
}


.elementProfile{
    
    height: 46vh;
    margin-left: 5%;
    margin-top: 3%;
    width: 22vw;
    background-color: #fff;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
}

.numberProfile{
justify-content: center;
align-items: center;
border-radius: 50%;
height: 5vh;
width: 5vh;
background-color: #b3c10f;
}

.numberProfile p{
    margin-top: 8px;
}

.infoMain{
    height: 55vh;
    width: 40vw;
    background-color: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    transform: scale(1.3, 1.3);
    margin-bottom: 10%;
    margin-right: 30%;
}

.filling{
    margin-left: auto;
    margin-right: 10%;
    margin-top: auto;
    margin-bottom: 5%;
}

.profilerun{
    height: 91vh;
}

.longOnes{
    border: 2px solid #615F5F;
    color: #615F5F;
    display: block;
    width: 35vw;
    height: 6vh;
    border-radius: 10px;
    font-size: 1.3em;
    padding-left: 2%;
    margin-top: 30px;
    margin-bottom: 20px;
}

.shortOnes{
    border: 2px solid #615F5F;
    color: #615F5F;
    display: block;
    padding-left: 2%;
    margin-top: 12px;
    height: 6vh;
    border-radius: 10px;
    font-size: 1.1em;
}

.RestType{
    background-color: #fff;
    border-radius: 10px;
    height: 72vh;
    width: 55vw;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}

.RestType > form{
    padding-top: 50px;
    margin-left: 20px;
    justify-content:center;
    align-items:center;
}

.label{
    margin-left: 40px;

}
.selecting{
    border: 1.2px solid #615F5F;
    background-color: #fff;
    width: 39vw;
    height: 6vh;
    display: block;
    border-radius: 10px;
    font-size: 1.6em;
    padding-left: 70px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left:40px;
}

.smallOnes{
    width: 30%;
    border-radius: 10px;
    font-size: 1.3em;
    border: 1.2px solid #615F5F;
    height: 6vh;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 40px;
}

.smallOnes:focus{
    outline:none;
}
.block{
    margin-top: 40px;
    margin-bottom: 30px;
    margin-left: 6rem;

}

.ownMenu{
    background: #FFFFFF;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    height: 72vh;
    width: 55vw;

}

.buttonsMenus {
    margin-left: 5%;
    margin-right: 5%;
}

.buttonsMenus button{
    border: 1px solid #b3c10f;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    margin-top: 12px;
    width: 20%;
    height: 8vh;
    border-radius: 10px;
}

.menuoption :hover {
    background-color: #b3c10f;
    color: white;
}

.adding{
    margin-left: 5%;
    margin-top: 3%;
}

.longForms{
    border: none;
    border-bottom: 1px solid black ;
    display: block;
    width: 90%;
    height: 3vh;
    font-size: 1.5em;
    margin-top: 3%;
    margin-bottom: 2%;
}

.gone{
    border: 1px solid #b3c10f;
    font-size: 1.3em;
    width: 15%;
    height: 8vh;
    border-radius: 10px;
}

@media (max-width:1400px){
    .elementProfile{
    height: 59vh;
    margin-left: 5%;
    margin-top: 3%;
    width: 31vw;
    background-color: white;
    box-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    }
    .options{
        width: 45%;
        height: 10vh;
        
    }
    .numberProfile{
        width: 50%;
        height: 40%;
        /* padding: 0; */
    }
    .descProfile{
       width: 100%;
    }
    .descProfile>p{
        font-size: 14px;
    }
    .RestType{
        background-color: #fff;
        border-radius: 10px;
        height: 72vh;
        width: 50vw;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    
    }
    
    
}