.homeSecond{
    height: 55vh;
    width: 100%;
    background-image: url('../images/resto222.png');
    background-repeat: no-repeat;
    background-size:  100% 55vh;
    clear: left;
}

.reusable{
    margin-left: 3%;
    margin-bottom: 5%;
}

.words{
    float: left;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-top: 4%;
}

.words h1{
    color: white;
    text-align: center;
    font-size: 270%;
}

.words span{
    color: #B3C10F   ;
}

.words h2{
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 12px;
}

.words h3{
    color: white;
    font-weight: lighter;
    text-align: center;
    font-size: 1.7em;
    margin-bottom: 12px;
    margin-right: 19%;
}

.words div{
    display: flex;
}

.btn1{
    color: white;
    background-color: #B3C10F;
    border: none;
    padding: 12px;
    width: 19%;
    font-size: 1.3em;
    border-radius: 8px;
    margin-left: auto;
}
.btn2{
    color: #fff;
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid #B3C10F;
    padding: 10px;
    width: 19%;
    font-size: 1.3em;
    border-radius: 8px;
    /* align-self: center; */
    /* margin-right: auto; */
    /* margin-left: 32%; */
    margin-right: 28.5%;

}

.reusable{
    margin-top: 2%;
    display: flex;
    gap: 10%;
}


.how{
    text-align: center;
    font-size: 35px;
    font-weight: bold;
}



@media (max-width: 600px){
    .words{
        float: left;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    
    .words h1{
        color: white;
        text-align: center;
        font-size: 5%;
        margin-top:30px;
    }
    
    .words span{
        color: #B3C10F   ;
    }
    
    .words h2{
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 40px;
    }
    
    .words h3{
        color: white;
        font-weight: lighter;
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
        margin-right: 36%;
    }
    
    .words div{
        display: flex;
    }
    
    .btn1{
        color: white;
        background-color: #B3C10F;
        border: none;
        padding: 12px;
        width: 49%;
        padding-top:20px;
        font-size: .7rem;
        height: 6.5vh;
        /* font-weight: bold; */
        border-radius: 8px;
        margin-left: 70px;
        margin-top:40px;
        
    }
    .btn2{
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #B3C10F;
        padding: 12px;
        padding-left: 20px;
        width: 36%;
        font-size: .8em;
        height: 6.5vh;
        border-radius: 8px;
        margin-right: 10.5%;
        margin-top: 40px;
    
    }
    
    .reusable{
        margin-top: 9%;
        display: flex;
        gap: 0.4%;
        height: 13rem;
        margin-left: 0.01rem;
        width:34rem;
        font-size: 8em;
    }
    
    
    .how{
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        margin-top: 5%;

    }
    

}

@media (max-width: 910px){
    .words{
        float: left;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    
    .words h1{
        color: white;
        text-align: center;
        font-size: 1.6rem;
        margin-top:30px;
    }
    
    .words span{
        color: #B3C10F   ;
    }
    
    .words h2{
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 40px;
    }
    
    .words h3{
        color: white;
        font-weight: lighter;
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
        margin-right: 36%;
    }
    
    .words div{
        display: flex;
    }
    
    .btn1{
        color: white;
        background-color: #B3C10F;
        border: none;
        padding: 12px;
        width: 36%;
        padding-top:20px;
        font-size: .6em;
        height: 6.5vh;
        border-radius: 8px;
        margin-left: 77px;
        margin-top:40px;
        
    }
    .btn2{
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #B3C10F;
        padding-left: 20px;
        padding-top: 14px;
        width: 32%;
        font-size: .8em;
        height: 6.5vh;
        border-radius: 8px;
        margin-right: 10.5%;
        margin-top: 40px;
    
    }
    
    .reusable{
        margin-top: 9%;
        display: flex;
        gap: 0.4%;
        height: 13rem;
        margin-left: 0.3rem;
        font-size: 8em;
    }
    
    
    .how{
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        margin-top: 5%;

    }
    
}


@media (max-width: 1024px){

.words{
        float: left;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    
    .words h1{
        color: white;
        text-align: center;
        font-size: 1.6rem;
        margin-top:30px;
    }
    
    .words span{
        color: #B3C10F   ;
    }
    
    .words h2{
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 40px;
    }
    
    .words h3{
        color: white;
        font-weight: lighter;
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
        margin-right: 36%;
    }
    
    .words div{
        display: flex;
    }
    
    .btn1{
        color: white;
        background-color: #B3C10F;
        border: none;
        padding: 12px;
        width: 36%;
        padding-top:20px;
        font-size: .6em;
        height: 6.5vh;
        border-radius: 8px;
        margin-left: 77px;
        margin-top:40px;
        text-align: center;
        
    }
    .btn2{
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #B3C10F;
        padding-left: 20px;
        padding-top: 14px;
        width: 32%;
        font-size: .8em;
        height: 6.5vh;
        border-radius: 8px;
        margin-right: 10.5%;
        margin-top: 40px;
        text-align: center;
    
    }
    
    .reusable{
        margin-top: 4%;
        display: flex;
        gap: 0.4%;
        height: 9rem;
        margin-left: 0.3rem;
        font-size: 9em;
    }
    
    
    .how{
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        margin-top: 5%;

    }
    
}
/* @media (max-width: 2024px){
    .words{
        float: left;
        width: 100%;
        align-items: center;
        justify-content: center;
        margin-top: 4%;
    }
    
    .words h1{
        color: white;
        text-align: center;
        font-size: 1.6rem;
        margin-top:30px;
    }
    
    .words span{
        color: #B3C10F   ;
    }
    
    .words h2{
        color: white;
        font-weight: bold;
        text-align: center;
        font-size: 1.4rem;
        margin-top: 40px;
    }
    
    .words h3{
        color: red;
        font-weight: lighter;
        text-align: center;
        font-size: 1rem;
        margin-top: 10px;
        margin-right: 36%;
    }
    
    .words div{
        display: flex;
    }
    
    .btn1{
        color: red;
        background-color: #B3C10F;
        border: none;
        padding: 12px;
        width: 36%;
        padding-top:20px;
        font-size: .6em;
        height: 6.5vh;
        border-radius: 8px;
        margin-left: 77px;
        margin-top:40px;
        text-align: center;
        
    }
    .btn2{
        color: #fff;
        background-color: rgba(255, 255, 255, 0);
        border: 1px solid #B3C10F;
        padding-left: 20px;
        padding-top: 14px;
        width: 32%;
        font-size: .8em;
        height: 6.5vh;
        border-radius: 8px;
        margin-right: 10.5%;
        margin-top: 40px;
        text-align: center;
    
    }
    
    .reusable{
        margin-top: 0.5%;
        display: flex;
        gap: 5%;
        height: 7rem;
        margin-left: 4rem;
        font-size: 9em;
       
    }
    
    
    .how{
        text-align: center;
        font-size: 19px;
        font-weight: bold;
        margin-top: 3%;
        color:red;

    }
    
} */








