@tailwind base;
@tailwind components;
@tailwind utilities;

.overview {
  background-color: #fff;
  height: 100%;
  width: 100%;
  display: flex;
}

.sidebar {
  background-color: #000;
  height: 110vh;
  width: 18%;
  position: sticky;
  top: 0px;
}

.otherbar {
  background-color: #eff4f4;
  height: 160vh;
  width: 82%;
}
.over {
  cursor: pointer;
}

.navbar {
  width: full;
  background-color: #fff;
  height: 8vh;
  background: #fffefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0px;
  z-index: 10;
}

.serch {
  width: 30%;
  margin-left: 20%;
  margin-top: 1%;
  height: 4.5vh;

  border: 1px solid #b3c10f;
  border-radius: 8px;
  font-size: 7px;
}

.stats{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  width: 20%;
  background-color: #fff;
  align-items: center;
  justify-content: center;
  text-align: center;
  transform: scale(1.3 , 1.3);
}

.amount{
    color: #b3c10f;
    font-size: 20px;
}

.chart{
margin-left: 15%;
margin-top: 6%;
}

.new{
    border-radius: 12px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transform: scale(1.2 , 1.2);
  float: right;

}

.choose label{
    font-size: 22px;
}

.choose input{
    margin-top: 12px;

}

.space{
    height: 1px;
    background-color: #b3c10f;
    margin-top: 12px;
}
.types2{
  margin-top: 57px;
} 

@media (max-width:1024px){
 
  .sidebar {
    background-color: #000;
    height: 100%;
    width: 20%;
    position: sticky;
    top: 0px;
  }
  
  .otherbar {
    background-color: #eff4f4;
    height: 160vh;
    width: 82%;
  }
  .over {
    cursor: pointer;
    padding-top: 44px;
  }

  .logo>img{
    width: 120px;
    height: 60px;
  }

  .over>img {
    cursor: pointer;
    width: 26px;
    margin-left: -19px;
  }
  
  .navbar {
    width: full;
    background-color: #fff;
    height: 8vh;
    background: #fffefe;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.25);
    position: sticky;
    top: 0px;
    z-index: 10;
  }
  
  .serch {
    width: 32%;
    margin-left: 20%;
    margin-top: 12px;
    height: 4.5vh;
    border: 1px solid #b3c10f;
    border-radius: 8px;
    font-size: 10px !important;
  }
  .serch:focus{
    outline: none;
  }
  
  .stats{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 20%;
    background-color: #fff;
    align-items: center;
    justify-content: center;
    text-align: center;
    transform: scale(1.3 , 1.3);
  }
  
  .amount{
      color: #b3c10f;
      font-size: 20px;
  }
  
  .chart{
  margin-left: 15%;
  margin-top: 6%;
  }
  
  .new{
      border-radius: 12px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: scale(1.2 , 1.2);
    float: right;
  
  }
  
  .choose label{
      font-size: 22px;
  }
  
  .choose input{
      margin-top: 12px;
  
  }
  
  .space{
      height: 1px;
      background-color: #b3c10f;
      margin-top: 12px;
  }
  .chartreal{
  margin-top:70px;
  margin-left:-55px;


  }
  .chart{
    gap:0px
  } 

  .stats{
    background-color: white;
    margin-right: 20px;
    transform: scale(1.3, 1);
  }
  .amount{
    font-size: 12px;
  }
  .mt-5{
    font-size:13px !important;
   
  }
  .mt-8{
    font-size:13px !important;
    color: black;

  }
  .types1{
    transform: scale(0.7,0.6);
    margin-left:-16rem;
    margin-top:-58px;
  }
  .types2{
    transform: scale(0.7,0.6);
    margin-left:-16rem;
  }

  .new{
    bottom: -34rem;
    left: 37px;
    position: absolute;
    transform: scale(0.7,0.5);
   
  }
  .h-10{
    width:23px;
    margin-top: 10px;
    height: 27px !important;
  }
  .text-xl{
    font-size:16px !important;
   
  }
}