*{
    margin:0;
    padding: 0;
}

.footer{
    background-color: #05021F;
    height: 40vh;
    color: #fff;
    overflow: hidden;
    align-items: center;
    /* margin: 30px; */
    position: relative;
    top:80px;
}
.logo{
    width: 130px;
    position: relative;
    top:120px;
    right: 800px;
  
}
.column1 p{
    position:relative;
    top:110px;
    right:800px;
    color:#FFFFFF
}
.instagram{
    font-size:23px;
    position:relative;
    top:120px;
    right:800px;
    border: 1px solid #656372;
    border-radius:5px;
    /* height:40px; */
    padding: 10px;
    background-color: #E7E4FF;
    color:black;
}
.facebook{
    font-size:23px;
    position:relative;
    top:98px;
    right:760px;
    border: 1px solid #656372;
    border-radius:5px;
    /* height:40px; */
    padding: 10px;
    background-color: #E7E4FF;
    color:black;

}
.youtube{
    font-size:23px;
    position:relative;
    top:76px;
    right:720px;
    border: 1px solid #656372;
    border-radius:5px;
    /* height:40px; */
    padding: 10px;
    background-color: #E7E4FF;
    color:black;

}
a{
    text-decoration:none;
    display: block;
    color:#FFFFFF;
    padding-top: 10px;
}

.contact{
    position:relative;
    

}
.column2 h3{
    position:relative;
    left:30px;
    color:#a4af25;
}
.about{
    position:relative;
    
}
ul{
    position:relative;
    left:36px;
    
}

.column1{
    /* margin-left: 150px; */
    position: relative;
    left:950px;
    bottom:50px;
}
h3{
    position:relative;
    left:60px;
    color:#a4af25;
}
.column2{
    position:relative;
    bottom:70px;
    /* right:30px */
    left:540px;
}


.column3{
    position:relative;
    bottom:220px;
    left:859px;
    
}

.column3 h3{
    position:relative;
    left:120px;
    color:#a4af25;

}
.phone{
    position: relative;
    left:68px;
    bottom:18px;
}
.email{
    position: relative;
    left:72px;
    bottom:30px;
    /* top:10px; */
}
.location{
    position: relative;
    left:70px;
    bottom:35px;
    /* top:20px; */
}
.tel{
    position: relative;
    left:25px;
    top:18px;
}
.mail{
    position: relative;
    left:25px;
    font-size:20px;
    top: 5px;
}
.locate{
    position: relative;
    left:25px;
}
.column4{
    position: relative;
    bottom:396px;
    left:1350px;
}
.column4 p{
    position: relative;
    left:55px;
    top:5px;
}
.app-store{
    position: relative;
    bottom:16px;
    left:70px;

}

.apple{
    font-size:20px;
    position: relative;
    top:18px;
    left: 15px;
}

.play-sto{
    position: relative;
    left:19px;
}
.play-store{
    position: relative;
    left:80px;
    bottom:35px;
}
hr{
    position: relative;
    bottom:360px;
    /* width:90%; */
    
}
.last-words{
    color:#B3C10F;
    position: relative;
    bottom:340px;
    left:800px;
    /* text-align:center */
}
