.container {
    background: rgba(239, 247, 248, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 740px;
    height: 84px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
  }
  
  .container :nth-child(1) {
    padding-left: 30px;
    padding-top: 30px;
    font-family: "Alice";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
  }
  
  .container_2 {
    display: flex;
    flex-direction: column;
  }
  
  .container_2 :nth-child(1), .container_2 :nth-child(3) {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 11px;
    margin-top: -10px;
  }
  
  .container_2 :nth-child(3) {
    line-height: 11px;
    margin-top: 13px !important;
    margin-right: 170px;
    font-weight: bolder !important;
  }

  .desct{
    margin-left: 30px;
  }

  .orderuimage{
    width: 6vw;
    height: 12vh;
    margin-top: -17%;
  }