.container {
    background: rgba(239, 247, 248, 0.65);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    width: 740px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
    margin-left: 20px;
    
  }


  .container :nth-child(2) {
    padding-left: 30px;
    padding-top: 30px;
    font-family: "Alice";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    /* line-height: 23px; */
  }
  
  .container_2 {
    display: flex;
    flex-direction: column;
  }
  
  .container_2 :nth-child(2), .container_3 :nth-child(4) {
    font-family: sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    /* line-height: 11px; */
    margin-left: -27px;
    margin-top: -14px;
  }
  
  .container_2 :nth-child(4) {
    line-height: 11px;
    /* margin-top: 13px !important; */
    margin-right: 170px;
    font-weight: bolder !important;
  }

 

  .orderuimage{
    width: 6vw;
    height: 12vh;
    padding: 10px;
    border-radius: 20%;
  }


  .ordersde{
    margin-top: -20px;
    font-weight: bold;
  } 