
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
}


.types {
  width: 220px;
  height: 160px;
  background: #fffefe;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 7px;
  margin-top: 15px;
  margin-left: -10px;
}

.types_name {
  display: flex;
}

.types_name_first {
  margin-left: 12px;
}

.types_name_first :nth-child(1) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #012728;
  margin-top:10px
}

.types_name_first :nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #8e9c9c;
  margin-top:6px

}

.types_name_second {
  margin-left: auto;
  margin-right: 12px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 9px;
  line-height: 11px;
  color: #012728;
  margin-top:10px
}

.types_price_first {
  display: flex;
}

.types_price_first :nth-child(1) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  color: #000000;
  margin-right: auto;
  margin-left: 12px;
  margin-top:31px
}

.types_price_first :nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #8e9c9c;
  /* margin-right: 16px; */
}

.line1 {
  background-color: #b3c10f;
  height: 0.5px;
  width: 100%;
  margin-top:20px
}

.bottom {
  display: flex;
}

.bottom :nth-child(1) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  margin-right: auto;
  margin-left: 12px;
  margin-top:1rem
}

.bottom :nth-child(2) {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-size: 10px;
  line-height: 12px;
  color: #8e9c9c;
  margin-right: 12px;
  margin-top:1rem

}

@media (max-width: 1024px) {
  
  .types_name_first :nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #012728;
    margin-top:10px
  }
  
  .types_name_first :nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 12px;
    color: #8e9c9c;
    margin-top:6px
  
  }
  
  .types_name_second {
    margin-left: auto;
    margin-right: 12px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 11px;
    color: #012728;
    margin-top:10px
  }
  
  .types_price_first {
    display: flex;
  }
  
  .types_price_first :nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    color: #000000;
    margin-right: auto;
    margin-left: 12px;
    margin-top:31px
  }
  
  .types_price_first :nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 13px !important;
    line-height: 12px;
    color: #8e9c9c;
  
  }
  
  .line1 {
    background-color: #b3c10f;
    height: 0.5px;
    width: 100%;
    margin-top:20px
  }
  
  .bottom {
    display: flex;
  }
  
  .bottom :nth-child(1) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    margin-right: auto;
    margin-left: 12px;
    margin-top:1rem
  }
  
  .bottom :nth-child(2) {
    font-family: "Inter";
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 12px;
    color: #8e9c9c;
    margin-right: 12px;
    margin-top:1rem
  
  }
}